.modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal-choice-list {
    overflow-y: auto;
    flex-grow: 1;
}

.modal-btn-section {
    display: flex;
    justify-content: space-around;
}

.modal-btn-section > button {
    flex-grow: 1;
    margin: 15px;
}

.modal-btn-section > input[type='submit'] {
    flex-grow: 1;
    margin: 15px;
    font-size: small;
    font-weight: bolder;
    padding: 10px 20px;
    background-color: darkturquoise;
    color: white;
    border: none;
    border-radius: 5px;
}

.modal-choice-list > section {
    padding: 10px;
}

.modal-choice-list > section > input[type="radio"] {
    margin: auto 5px;
}