.ranking-box ol {
    border-left: darkturquoise 3px solid;
}

.ranking-box.middle {
    border-bottom: darkturquoise 1px dashed;
    border-collapse: collapse;
}

.ranking-box .title {
    font-weight: bold;
    color: darkturquoise;
    margin: 0 0 15px 0;
}

.ranking-box table {
    border-collapse: collapse;
    margin: 0 0 15px 0;
}

.ranking-box th, td {
    border: 2px solid darkturquoise;
    padding: 5px;
}

.ranking-box td > button {
    margin: 0;
}

.transparent-input {
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    font-size: 16px;
    padding: 2px;
    max-width: 40px;
    width: auto;
    text-align: center;
    min-width: 2ch;
}

.transparent-input:focus {
    border-color: #000;
}

.ranking-box td.number {
    text-align: center;
}

.ranking-box .title {
    font-size: large;
    width: 50%;
}

.ranking-box-label {
    display: inline;
}